body{
	margin: 3px;
	padding:4px;
	background-color:#585545;
	letter-spacing:1px;
	font-family:Arial,"Arial Black", Verdana, "Trebuchet MS",Georgia, Tahoma, "Courier New", "Times New Roman";
}
h1,h3{
	color:#afc4f6	
}
p,li{
	color:white	
}

em{
	font-style:normal;

}

#myself em{
	color:yellow;
}

#movies em{
	color:red;
	text-decoration:underline;	
}

#describe{
	font-style:italic	
}
